<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="Connection" connectionString="data source=tcp:eau5bkmdem.database.windows.net,1433;initial catalog=recipies;user id=sqladmin@eau5bkmdem;password=123x456!" providerName="System.Data.SqlClient"/>
    <add name="ConnectionConfig" connectionString="server=0a1edf98-3fa2-408e-89ba-a21b00c0e6ae.sqlserver.sequelizer.com;database=db0a1edf983fa2408e89baa21b00c0e6ae;user id=sdrhfiojulwnbnnd;password=vRVRUSsczN5VU3R57dyeY8ucKsMAQYHpjvfdWnm8WNYExVJ5T8FahBrwwTgBeZtJ" providerName="System.Data.SqlClient"/>
    <add name="RecipiesEntities" connectionString="metadata=res://*/RecipiesModel.csdl|res://*/RecipiesModel.ssdl|res://*/RecipiesModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=tcp:eau5bkmdem.database.windows.net,1433;initial catalog=recipies;user id=sqladmin@eau5bkmdem;password=123x456!;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient"/>
  </connectionStrings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1"/></startup></configuration>
