<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Connection" connectionString="Data Source=804b3a50-697f-4e00-b7cc-a1e6015cf402.sqlserver.sequelizer.com;Persist Security Info=True;User ID=uehevqpfoljtplku;Password=uhffcctREdsiocbJhjETidnG5q5jWtB25oyDasHUYHNVtA8EzVMz5NPr4FiTgi3k"
            providerName="System.Data.SqlClient" />
        <add name="RecipiesReports.Properties.Settings.Connection" connectionString="Data Source=804b3a50-697f-4e00-b7cc-a1e6015cf402.sqlserver.sequelizer.com;Persist Security Info=True;User ID=uehevqpfoljtplku;Password=uhffcctREdsiocbJhjETidnG5q5jWtB25oyDasHUYHNVtA8EzVMz5NPr4FiTgi3k"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>