<?xml version="1.0"?>
<configuration>
  <appSettings>
    <!--This key is required becaouse error
    WebForms UnobtrusiveValidationMode requires a ScriptResourceMapping for 'jquery'.
    Please add a ScriptResourceMapping named jquery(case-sensitive). will be thrown.-->
    <add key="ValidationSettings:UnobtrusiveValidationMode" value="None" />
  </appSettings>
  <connectionStrings>
    <add name="Connection" connectionString="data source=804b3a50-697f-4e00-b7cc-a1e6015cf402.sqlserver.sequelizer.com;persist security info=True;user id=uehevqpfoljtplku;password=uhffcctREdsiocbJhjETidnG5q5jWtB25oyDasHUYHNVtA8EzVMz5NPr4FiTgi3k" providerName="System.Data.SqlClient" />
    <add name="ConnectionConfig" connectionString="Server=0a1edf98-3fa2-408e-89ba-a21b00c0e6ae.sqlserver.sequelizer.com;Database=db0a1edf983fa2408e89baa21b00c0e6ae;User ID=sdrhfiojulwnbnnd;Password=vRVRUSsczN5VU3R57dyeY8ucKsMAQYHpjvfdWnm8WNYExVJ5T8FahBrwwTgBeZtJ;" providerName="System.Data.SqlClient" />

  </connectionStrings>
  <system.web>
    <customErrors mode="RemoteOnly" defaultRedirect="~/Error.aspx">
    </customErrors>
    <compilation debug="true" targetFramework="4.5">
    </compilation>
    <httpRuntime targetFramework="4.5" />
    <pages theme="DefaultTheme">
    </pages>
    <authentication mode="Forms">
      <forms loginUrl="~/Account/Login" timeout="2880" defaultUrl="~/" />
    </authentication>
    <authorization>
      <deny users="?" />
    </authorization>
    <profile defaultProvider="DefaultProfileProvider">
      <providers>
        <add name="DefaultProfileProvider" type="System.Web.Providers.DefaultProfileProvider, System.Web.Providers, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" connectionStringName="Connection" applicationName="/" />
      </providers>
    </profile>
    <membership defaultProvider="SqlProvider" userIsOnlineTimeWindow="15">
      <providers>
        <clear />
        <add name="SqlProvider" type="System.Web.Security.SqlMembershipProvider" connectionStringName="ConnectionConfig" applicationName="/" enablePasswordRetrieval="false" enablePasswordReset="true" requiresQuestionAndAnswer="true" requiresUniqueEmail="true" passwordFormat="Hashed" />
      </providers>
    </membership>
    <roleManager enabled="true">
      <providers>
        <!--<add connectionStringName="Connection" applicationName="/"
          name="DefaultRoleProvider" type="System.Web.Providers.DefaultRoleProvider, System.Web.Providers, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />-->
      </providers>
    </roleManager>
    <!--
            If you are deploying to a cloud environment that has multiple web server instances,
            you should change session state mode from "InProc" to "Custom". In addition,
            change the connection string named "DefaultConnection" to connect to an instance
            of SQL Server (including SQL Azure and SQL  Compact) instead of to SQL Server Express.
      -->
    <sessionState mode="InProc" customProvider="DefaultSessionProvider">
      <providers>
        <add name="DefaultSessionProvider" type="System.Web.Providers.DefaultSessionStateProvider, System.Web.Providers, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" connectionStringName="DefaultConnection" />
      </providers>
    </sessionState>
    <httpHandlers>
      <add path="Telerik.Web.UI.WebResource.axd" type="Telerik.Web.UI.WebResource" verb="*" validate="false" />
      <add path="ChartImage.axd" type="Telerik.Web.UI.ChartHttpHandler" verb="*" validate="false" />
    </httpHandlers>
    <httpModules>
      <!-- Add this line exactly as is - the name value is important -->
      <add name="RadCompression" type="Telerik.Web.UI.RadCompression" />
    </httpModules>
  </system.web>
 
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
    <handlers>
      <add name="Telerik_Web_UI_WebResource_axd" verb="*" preCondition="integratedMode" path="Telerik.Web.UI.WebResource.axd" type="Telerik.Web.UI.WebResource" />
      <add name="ChartImage_axd" verb="*" preCondition="integratedMode" path="ChartImage.axd" type="Telerik.Web.UI.ChartHttpHandler" />
    </handlers>
    <modules>
      <add name="RadCompression" type="Telerik.Web.UI.RadCompression" />
    </modules>  
  </system.webServer>
</configuration>