<?xml version="1.0"?>
<configuration>
  <connectionStrings>
    <add name="Connection" connectionString="data source=804b3a50-697f-4e00-b7cc-a1e6015cf402.sqlserver.sequelizer.com;persist security info=True;user id=uehevqpfoljtplku;password=uhffcctREdsiocbJhjETidnG5q5jWtB25oyDasHUYHNVtA8EzVMz5NPr4FiTgi3k" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <system.web>
    <pages theme="DefaultTheme">      
    </pages>
    <compilation debug="true" targetFramework="4.0">
      <assemblies>
        <add assembly="System.Web.Entity, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="System.Data.Entity, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
      </assemblies>
    </compilation>
    <customErrors mode="Off" />
    <httpHandlers>
      <add path="Telerik.Web.UI.WebResource.axd" type="Telerik.Web.UI.WebResource" verb="*" validate="false" />
    </httpHandlers>
  </system.web>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true" />
    <validation validateIntegratedModeConfiguration="false" />
    <handlers>
      <add name="Telerik_Web_UI_WebResource_axd" verb="*" preCondition="integratedMode" path="Telerik.Web.UI.WebResource.axd" type="Telerik.Web.UI.WebResource" />
    </handlers>
  </system.webServer>
</configuration>